* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elements */

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background: #D4B483;
}

h1, h2 {
    margin-bottom: 32px;
    text-align: center;
}

/* Class */

.container {
    background: white;
    padding: 32px;
    max-width: 650px; /* change later */
    width: 100%;
    border-radius: 8px;
    transition: 0.2s;
}

.rulebox {
    display: flex;
    align-self: auto;
}

.rules {
    display: grid; /* for the elements inside*/
    background: whitesmoke;
    padding: 32px;
}

.gamecontainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gamecontainer img {
    padding: 8px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: 0.15s;
}

.gamecontainer img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.gamecontainer img:active, .gamecontainer img:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container p {
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 12px 0;
    transition: 0.2s;
}

.win {
    background: rgb(0, 255, 76);
}

.lose {
    background: #ff4719; 
}

.tie {
    background: rgb(199, 199, 199);
}

/* Id */

#score {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#score .sides {
    display: inline-block;
    padding: 12px 20px;
    background: #EEE;
    border-radius: 20px;
}